html{
    scroll-behavior: smooth;
}

.ficha-juego{
    width: 90%;
    max-width: auto;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    height: 1000px;
    
}

.ficha-juego > section{
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
    border: solid 2px black;
}

.ficha-juego > section >section{
    border: solid 2px red;
    padding: 10px;
    
    
}


#galeria-juego{
    max-width: 50%;
    display: flex;
    justify-content: left;

}

#galeria-juego img{
    width: 30%;

    
}