

.galeria{
    max-width: 950px;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}


.galeria > a{
    display: block;
    position: static;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}



.galeria img{
    width: 100%;
    vertical-align: top ;
    height: 300px;
    object-fit: cover;
    position: inherit;
    transition: transform 0.5s;

}

.galeria a:hover img{
    filter: blur(2px);
    transform: scale(1.3) rotate(10deg);
}


.light-box{

    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1100;
}

.light-box img{
    width: 75%;
    max-height: 70vh;
}
.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: rgb(190, 90, 0);
    color: white;
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.flecha{
    display: block;
    background: rgb(190, 90, 0);
    text-align: center; 
    color: white;
    width: 50px;
    height: 50px;   
    border-radius: 50%;
    line-height: 50px;
}

@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    close{
        top: 20px;
        right: 20px;
    }

    
    

}
    
